div {
background-image: url('/download (1).jpeg');
}
h1 {color: black; font-family: verdana; font-size: 300%;}
p {color: white; font-family: courier; font-size: 160%; border: 2px solid white; padding: 10px;}
h2 {color: white; font-family: courier; font-size: 160%; border: 2px solid white; padding: 10 px; margin: 50px;}

a:link {
color: lightblue;
background-color: transparent;
text-decoration: none;
}
a:visited {
color: white;
background-color: transparent;
text-decoration: none;
}
a:hover {
color: MediumSeaGreen;
background-color: transparent;
text-decoration: underline;
}
a:active {
color: yellow
background-color: transparent;
text-decoration: underline;
}